<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
    <title>Java Client Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2 th:text="${title}" />

<h3 th:text="${patientFullName}" />

<div>
    <table id="observation_list">
        <tr th:each="height : ${heights}">
            <td th:text="${height.date}"/>
            <td th:text="${height.height}"/>
        </tr>
    </table>
</div>

</body>
</html>